/BookStore/nbproject/private/
/BookStore/build/
/TriNM_HE176657_Lab3/dist/
/BinhNQ_HE172185_Lab3/build/
/BinhNQ_HE172185_Lab3/nbproject/private/
/HE172185_BInhNQ__Lab3/nbproject/private/
/HE172185_BInhNQ__Lab3/build/
/TestTags/nbproject/private/
/TestTags/build/
/TestTags/dist/
/BookStore/dist/
