/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jul 11, 2023, 11:43:45 PM
    Author     : LEMONLORD
*/

.InsertProduct{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.status{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

