*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}
body{
    height: 100vh;
    background-size: cover;
    background-position: center;
}

li{
    list-style: none;   
}

a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

header{
    position: relative;
    padding: 0 2rem;
}

.navbar{
    width: 100%;
    height: 60px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 10px 15px;
    margin: 0px 5px;
}

.navbar .links{
    display: flex;    
}

.links a{
    padding: 10px 15px;
    margin: 0 10px;
    transition: all .40s ease;
}

.navbar .icon {
    display: flex;
    gap: 2rem;
}

.navbar .toggle-btn{
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.links a:hover{
    background: black;
    color: white;
}

.search input[type="text"]{
    border: none;
    border-bottom: 1px solid silver;
    outline: none;
    padding-left: 5px;
    margin-right: 5px;
}

.dropdown-menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-menu.open{
    background-color: #F5F5F5;
    height: 134px;
}

.content {
    margin: 30px 30px;
    text-align: center;
}

.content p{
    margin: 20px 30px;
    padding: 0 300px;
}

@media(max-width: 1080px){
    .navbar .links{
        display: none;
    }

    .navbar .toggle-btn{
        display: block;
    }
    .dropdown-menu{
        display:  block;
    }
}
@media(max-width: 576px){
    .dropdown-menu{
        left: 2rem;
        width: unset;
    }
}

section{
    padding: 0px 8%;
}

.desc{
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding-bottom: 30px;
}

.desc-text h1{
    margin: 30px 0;
    font-size: 100px;
}

.desc-text{
    width: 60%;
    margin-top: 50px;
    padding: 30px 0;
}

.desc-img img{
    margin-top: 30px;
    height: 600px;
}

.box img{
    width: 100%;
    height: auto;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    align-items: center;
    gap: 2rem;
    text-align: center;
    cursor: pointer;
    padding-top: 10px;
}
.box{
    padding:  0px 0px 10px 0px;
    background: transparent;
    box-shadow: 5px 30px 56.1276px rgb(55 55 55 /10%);
    position: relative;
    transition: all .35s ease;
}

.btn{
    margin: 0 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type="button"]{
    background: black;
    margin-top: 30px;
    color: white;
    padding:  10px 20px;
    border: none;
    font-size: 18px;
    font-weight: lighter;
    cursor: pointer;
}

.about{
    background: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 40px;
}

.about-content{
    text-align: center;
}

.about-content h2{
    margin-bottom: 30px;
}

.about-content p{
    max-width: 600px;
    line-height: 30px;
}
#footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.contact{
    background-color: black;
    color: white;
    padding: 30px;
}
.contact-content{
    display: flex;
    justify-content: center;
}

.contact-content li a{
    color: white;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.Copyright{
    text-align: center;
    margin-top: 30px;
}
