*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}
body{
    height: 100vh;
    background-size: cover;
    background-position: center;
}

li{
    list-style: none;   
}

a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

header{
    position: relative;
    padding: 0 2rem;
}

.navbar{
    width: 100%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 10px 15px;
    margin: 0 10px;
}

.navbar .links{
    display: flex;    
}

.links a{
    padding: 10px 15px;
    margin: 0 10px;
    transition: all .40s ease;
}

.navbar .icon {
    display: flex;
    gap: 2rem;
}

.navbar .toggle-btn{
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.links a:hover{
    background: black;
    color: white;
}

.dropdown-menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-menu.open{
    height: 134px;
}

@media(max-width: 992px){
    .navbar .links{
        display: none;
    }

    .navbar .toggle-btn{
        display: block;
    }
    .dropdown-menu{
        display:  block;
    }
}
@media(max-width: 576px){
    .dropdown-menu{
        left: 2rem;
        width: unset;
    }
}