body{
    background-image: url("../photo/Tsunami.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Playfair Display', serif;
    background-attachment: fixed;
}
.wrapper{
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    transform: translate(-50%,-50%);
}
.wrapper h1{
    text-align: center;
    padding: 0 0 20px 0;
    
}
form{
    padding: 0 40px;
    box-sizing: border-box;
}
form .text-field{
    position: relative;
    border-bottom: 2px solid silver;
    margin: 40px 0px;       
}
.text-field input{
    width: 100%;
    height: 100%;
    padding: 0 5px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.text-field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-60%);
    font-size: 16px;
    pointer-events: none;
    transition: .3s;
}
.text-field span::before{
    content: '';
    position: absolute;
    left: 0;
    width: 0%;
    height: 2px;
    background: black;
    transition: .5s;
}

.text-field input:focus ~ label,
.text-field input:valid ~ label{
    top: -8px;
    color: black;
}

.text-field input:focus ~ span::before,
.text-field input:valid ~ span::before{
    width: 100%;
}


input[type="submit"]{
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
    border-radius: 25px;
    background: black;
    color: white;
    font-size: 20px;
}
#name{
    display: table;
    border-spacing: 5px;
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: -10px;
}
#name .text-field{
    display: table-cell; 
}
#fname{
    width: 150px;
}



