/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jul 12, 2023, 12:19:12 AM
    Author     : LEMONLORD
*/
.product_edit{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    background: black;
    margin-top: 119px;
}

.footer{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.payment_icon img{
    width: 40px;
}

.footer_content_1{
    color: white;
}

.payment_icon{
    display: flex;
    align-items: center;
    justify-content: center;
}

.payment_icon div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

@media (max-width: 1280px){
    .footer{
        flex-direction: column;
    }

    .footer_content_1{
        margin-bottom: 15px;

    }
}